.h1{
  
   color:black;
text-align: center;
  padding: 20px;
  
}
div{
    padding-left: 100px;
    padding-right: 30px;
   
}


ol{
 
    color:violet;
}
.Link{
 
    color:violet;
}.submi{
    justify-items: center;
    justify-content: center;
}.form-signin{
    text-align: right;
    justify-items: right;
   
   }
    
/*.siguiente{
    right:5000px ;
    justify-items: center;
background-color: yellow;
padding: 20px;
border-radius: black;
border:black;
}*/
.btn{
    justify-items: center;
    justify-content: center;
}
