h1{
    background-color: springgreen;
   color:white;
text-align: center;
  padding: 20px;
}
div{
    padding-left: 100px;
    padding-right: 30px;
    background-color: springgreen;
}


ol{
 
    color:violet;
}
.Link{
 
    color:violet;
}.submi{
    justify-items: center;
    justify-content: center;
}
