
.informate{
    position:relative;
   padding: 30px;
    
}
Link{

    color:black;
    
}
.botonamor{
color:black;

}

.amorprop{
    background-color:#7FCDE4  ;
    padding: 20px;
color:black;


}
.depresion{
    background-color: #C39DF3 ;
    padding: 20px;

}
.acosoint{
    background-color:    #F0AB71   ;
    padding: 20px;

}
.transtornoali{
    background-color:#68EDAA  ;
    padding: 20px;

}.titulomasinfo{
  
    color:black;
 text-align: center;
   padding: 20px;
  
 }
 @media screen and (max-width:480px){
 .titulomasinfo{
     position: relative;
     
    }
    .amorprop{
        height: 60px;
        width: 330px;
        background-color:#7FCDE4  ;
    }.depresion{
        background-color: #C39DF3 ;
        height: 60px;
        width: 330px;
    
    }
    .acosoint{
        background-color:    #F0AB71   ;
        height: 60px;
        width: 330px;
    
    }
    .transtornoali{
        background-color:#68EDAA  ;
        height: 60px;
        width: 330px;
    
    }
    .informate{
        right: 200px;
        position: relative;
    }
 
    .Menuenbarra{
      position: relative;
      right: 100px;
    }

 }