.menucompleto{
    display: flex;
 width:500px;
 height: 300px;
 margin-left: 10px;
 margin-top:10px;
 padding: 70px 200px  0px 130px;
position: relative;
margin:30px;

} 
.menucompleto{
    margin:70px 0px 180px 0px;
    position: relative;
}
.conversacion{
    display: flex;
    width:300px;
    height: 300px;
    margin-left: 10px;
    margin-top:10px;
    padding: 70px 200px  0px 130px;
   position: relative;
   top:70px;
   box-sizing: content-box;
   right: 100px;
 /*  border: solid #a061ba 4px;*/
}
.quieneSsomos{
    display: flex;
    width:500px;
    height: 300px;
    margin-left: 10px;
    margin-top:10px;
    padding: 70px 200px  0px 130px;
   position: relative;
   bottom: 100px;
   
   
}.acercaD{
    display: flex;
    width:500px;
    height: 300px;
    margin-left: 10px;
    margin-top:10px;
    padding: 70px 200px  0px 130px;
   position: relative;
   left: 600px;
   
   bottom: 300px;
   
}.masinformate{
   position: relative; 
   left: 600px;
   bottom: 500px;
}

.conversa{
    position:relative;
    right: 100px;
}
.proyecto{
    position:relative;
    
    
}

.nosotros{
    position:relative;
    
}
.btns{
    position:relative;
    
}.usuario{
    border: solid #58FAF4 4px;
  
}
.titulomenu{
    background-color: #58FAF4;
    padding: 40px;
}
.copymenu{
    background-color:#58FAF4 ;
    padding: 40px;
}

