.descripcionnata{
    top:200px;
    left:-100px;
       position: relative;
    box-sizing: content-box; 
    background-color: #F8E0F1;
    padding: 40px;
 }

.fotonata{
   top:-150px;
   left: 900px ;
   position: relative;
}
@media screen and (max-width:480px){
  
   .nata{
      padding: 40px;
      font-size: 30px;
   /*  border: solid #a061ba 4px;*/
  }
.descripcionnata{
   font-size: 20px;
   top:40px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.fotonata{
   width: 200px;
   position: relative;
   left: 89px;
   bottom: 10px;

}
}