.titulocont{
    text-align: center;
}
.titulo1{
    background-color: #9FF781;
}
 .fotosanti{
    left: 900px ;
     position: relative;
 }
 .card{
     top: 0px;
 }
 .nata{
     background-color: #9FF781;
 }.copy{
    background-color:  #9FF781;
   padding: 40px;
}
.santi{
    background-color: #9FF781;
}
.daya{
    background-color: #9FF781;
}
.karen{
    background-color: #9FF781;
}
@media screen and (max-width:480px){
    
    .card{

        position: relative;
        right: 30px;
    }


  

}
